#nav{
    display: flex;
    flex-direction: column;
}
nav{
    background-color: black;
    text-decoration-style: none;

}
ul{
    display: flex;
    flex-direction: row;
    justify-items: normal;
    align-items: flex-end;
}
nav >ul> li {
    list-style-type: none;
    margin-left: 4rem;
}
.fa-user {
    font-size: 3rem;
    border-radius: 50%;
    border: wheat;
}
#others{
    list-style-type: none;
    margin-left: 25rem;
    margin-bottom: 1.2rem;
    float: right;
    display: flex;
    flex-direction: row;
    justify-items: normal;
    align-items: flex-end;
}
#others > li {
    margin-left: 6rem;
}