body {
  /* Background Gradient for Analagous Colors */
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e54e9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Raleway;
}
span{
  text-align: center;
  color: white;
  margin: 40%;
  margin-bottom: 20%;
  font-size: 200%;
}
.first {
  background: white;
  margin-top: 5%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 69%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 69%);
          height: 33vh;
          position: absolute;
          border-radius: 8%;
        width:80%;
         
}
body .second {
  -webkit-clip-path: polygon(0 0, 100% 57%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 57%, 100% 100%, 0 100%);
  background: white;
  height: 350px;
  position: fixed;
  bottom: 51vh;
  width: 80%;
  border-radius: 8%;
  
}


.container{
  height: 100%;
  margin: 5%;
  
}
 p{
  text-align: center;
  color: black;
  margin: 20%;
  font-size: 200%;
  margin-bottom: 2%;

}
#signup{
  margin: 5%;
  margin-top: 0px;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e54e9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: white;
  font-size: 400%;
 width: 80%;
 border-radius: 2rem;
}
a{
  text-decoration: none;
  color: white;
}
label[for='username'], label{
  margin: 55%;
  margin-left: 5%;
  font-size: 200%;
}
input[type='email']{
  margin: 5%;
  height: 5%;
  width: 80%;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 200%;
}
input{
  font-family: FontAwesome;
}
input:focus{
  outline: none;
}
#sub{
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e54e9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
  width: 100px;
  position: fixed;
  right: 8vh;
  bottom: 62vh;
  font-size: 200%;
  color:white;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
input[name='remember']{
  margin-left: 5%;
  font-size: 200%;
  background-color: #8e54e9;
}
#form{
  margin: 5%;
  margin-top: 10%;
  width: 100%;
  margin-bottom: 0%;
 
}
input[type='password']{
  font-size: 200%;
  border: none;
  border-bottom: 2px solid gray;
  margin: 5%;
  height: 5%;
  width: 80%;
 
}



@media (min-width: 750px){
  .first {
    background: white;
    margin-top: 1%;
    
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 69%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 74%);
            height: 23rem;
            border-radius: 2rem;
          width:30%;
           
  }
  body .second {
    -webkit-clip-path: polygon(0 0, 100% 57%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 39%, 100% 100%, 0% 100%);
    background: white;
    height: 15rem;
    position: fixed;
    bottom: 1rem;
    width: 30%;
    border-radius: 2rem;
    font-size:100%;
    
  }
  .container{

    margin-left: 38%;
  }
  span{
    margin: 20%;
    font-size: 200%;
  }
  label[for='username'], label{
    margin: 55%;
    margin-left: 5%;
    font-size: 100%;
  }
  input[type='email']{
    margin: 5%;
    height: 5%;
    width: 80%;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 100%;
  }
  #signup{
    margin: 5%;
    margin-top: 0px;
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e54e9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: white;
    font-size: 200%;
   width: 80%;
   border-radius: 2rem;
  }
  sub{
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e54e9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100px;
    width: 100px;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 8vh;
    bottom: 62vh;
    font-size: 200%;
    color:white;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }
  input[name='remember']{
    margin-left: 5%;
    font-size: 100%;
    color:#8e54e9;
    background-color: #8e54e9;
  }
  #form{
    margin: 5%;
    margin-top: 10%;
    width: 100%;
    margin-bottom: 0%;
   
  }
  input[type='password']{
    font-size: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin: 5%;
    height: 2%;
    width: 80%;
   
  }
}
/*# sourceMappingURL=styles.css.map */